<header>
    <a href="../php/Home.php" class="logo">
        <img src="../img/IKAE.png">
    </a>
    <div class="search">
        <img src="../img/proicons_search.svg" />
        <p>Apa yang ingin kamu beli hari ini?</p>
    </div>
    <div class="header-kanan">
        <a href="jual-produk.php"class="jual">
            <p>Produk</p>
        </a>
        <a href="../php/keranjang.php">
        <img src="../img/cart.svg">
        </a>
        <a href="../php/profile.php">
        <img class="pfp" src="../img/guest.png">
        </a>
    </div>
</header> 